* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  padding: 85px;
  background-color: #e7f6ff;
}

.container {
  max-width: 1080px;
	margin: 0 auto;
  overflow: hidden;
  background-color: #fff;
  border-radius: 20px;

}

.header {
  width: 100%;
	display: flex;
  align-items: center;
  padding: 44px;
  padding-right: 65px;
  border-bottom: 1px solid #eaeaea;
}

.header__inner {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.header__logo {
  width: 40px;
  height: 40px;
  margin-right: 16px;
}

.header__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000;
}

.header__subtitle {
  font-size: 14px;
  line-height: 17px;
  color: #9d9d9d;
}

.header__button {
	display: flex;
  align-items: center;
  padding: 0;
  .background: none;
	text-decoration: none;
  border: none;
}


.header__button + .header__button {
  margin-left: 30px;
}

.header__button-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #5c5c5c;
  margin-left: 10px;
}

.header__icon {
  width: 20px;
  height: 20px;
  color: #9b9b9b;
}